body{
  background-image: url(../img/fondo1.jpg);
}
.header div{
  background: rgba(31, 66, 157, 0.48);
  border: 10px ridge blue;
}
#der{
  text-align: right;
  color: rgb(22, 37, 115);
}
.menu li a{
  color: rgb(22, 115, 67);
  border: 0.2px dashed green;
}
.prim div{
  background: rgba(213, 202, 231, 0.53);
  border: 0px solid black;
}
